body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-hero {
  background: black;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(25, 135, 84, 0.4)), url(https://images.unsplash.com/photo-1574023278969-abb7ab49945c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  padding: 8em 0 8em 0 !important;
  color: white;
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.7);
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #198754;
}